* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
}

.shadow {
  box-shadow: 0px 0px 5px 5px #56b4e9 !important;
  transition: border-radius 1s !important;
}

td[class="odd"] {
  background-color: rgb(241, 241, 241);
}

.swal2-container {
  z-index: 3000;
}