.swal2-container {
  z-index: 3000;
}

.MuiAccordion-root {
  border: 1px solid lightgray;
  box-shadow: none !important;
}

#wrapper .MuiSwitch-root * {
  box-shadow: none !important;
}

.announce {
  font-size: 14px;
  text-align: left;
}

.swal2-icon {
  font-size: 0.7rem;
}

td[class="odd"] {
  background-color: rgb(241, 241, 241);
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
}
