name: Dry-run (Yarn)

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  dryrun:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - run: yarn install
      - run: yarn lint
      - run: yarn build
